/* .App {
  text-align: center;
} */

.Board {
  height: 500px;
  width: 500px;
  background-color: #CC6A85;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  
}

.row {
  display: flex;
  flex-direction: row;
  flex: 12.5%;
}

.LightSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 12.5%;
  background-color: lightgrey;
  pointer-events:stroke;
}

.DarkSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 12.5%;
  background-color: #769656;
  pointer-events:stroke;
}

.HoveredSquare{
  flex: 12.5%;
  pointer-events:stroke;
}