/* .App {
  text-align: center;
} */

.Board {
  height: 500px;
  width: 500px;
  background-color:blue;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  
}

.row {
  display: flex;
  flex-direction: row;
  flex: 12.5%;
}

.LightSquare {
  flex: 12.5%;
  background-color: lightblue;
  pointer-events:stroke;
}

.DarkSquare {
  flex: 12.5%;
  background-color: darkolivegreen;
  pointer-events:stroke;
}