.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
.ButtonList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Board {
  height: 80vh;
  width: 80vh;
  background-color: #cc6a85;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
}

.TimerContainer {
  border: 5px solid black;
  height: 5vh;
  width: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Timer {
  background-color: lightgrey;
  font-size: 3.5vh;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.NotationBox {
  height: 40vh;
  width: 40vh;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
}

.NotationElement {
  align-self: flex-start;
  font-weight: bold;
  color: grey;
  font-size: 2.4vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 12.5%;
}

.LightSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 12.5%;
  background-color: #deb887;
  pointer-events: stroke;
}

.DarkSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 12.5%;
  background-color: #769656;
  pointer-events: stroke;
}

.PieceContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskList {
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* main axis is defined by flex-direction*/
/* justify-content  aligns items inside  the container along the main axis*/
/* align-items aligns items inside the container along the cross axis */
