.loginScreenContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #deb887;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onlineSectionContainer {
  display: flex;
}

.onlineSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createAndJoinGameSection {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.createGameHeader {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.createGameHeader p {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.createGameSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-right: 10px;
  background-color: white;
  border-radius: 10px;
  border-color: black;
  width: 300px;
  height: 250px;
  background-image: linear-gradient(#769656, white);

}
.colorSelection {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

#usernameInput {
  background-color: white;
  border-radius: 20px;
  border-width: 4px;
  border-color: black;
  height: 40px;
  width: 150px;
  font-size: large;
}

.joinGameSection {
  width: 300px;
  padding-left: 10px;
}

#timeControlButton {
  background-color: #769656;
  border-color: #769656;
  border-radius: 6px;
  height: 40px;
  width: 100px;
  font-weight: 1000;
  cursor: pointer;
}

#startButton {
  border-color: black;
  border-width: 4px;
  background-color: white;
  border-radius: 10px;
  height: 60px;
  width: 140px;
  font-weight: 1000;
  font-size: large;
  cursor: pointer;
}

#whiteSelection {
  background-color: white;
  height: 40px;
  width: 100px;
  border-color: white;
  border-radius: 6px;
  border-color: black;
  font-weight: 1000;
  cursor: pointer;
}

#blackSelection {
  background-color: black;
  border-color: black;
  border-radius: 6px;
  color: white;
  border-color: black;
  font-weight: 1000;
  height: 40px;
  width: 100px;
  cursor: pointer;
}

#randomSelection {
  background-image: linear-gradient(white, rgb(83, 80, 80));
  border-radius: 6px;
  height: 40px;
  width: 100px;
  color: black;
  border-color: black;
  font-weight: 1000;
  cursor: pointer;
}

.games_list_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.games_list_header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.games_list_header p {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.games_list_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border-color: black;
  width: 300px;
  height: 250px;
  overflow-y: scroll;
  background-image: linear-gradient(#769656, white);
}

.games_list_body .games_list_item {
  background-color: #769656;
  background-image: linear-gradient(#769656, #deb887);
  min-height: 60px;
  width: 120px;
  border-color: black;
  border-radius: 6px;
  font-weight: 1000;
  font-size: 80%;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

#FENInput {
  background-color: white;
  border-radius: 20px;
  border-width: 4px;
  border-color: black;
  height: 20px;
  width: 150px;
  font-size: small;
}
